/*
    Site Para Postar Todos Os Progressos do Game
*/

/* Importação (Google Fonts) */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* CSS Reset */
*{
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}

/* Layout */
.Container {
    margin: 0 auto;
}

#logo img {
    width: 100%;
    width: 300px;
    width: min(90vw, 150px);
    margin-top: 5px;
}

.Flex {
    display: flex;
    justify-content: space-between;
    background-color: #c6bcbc;
}

.Botao { /* Button que leva para um Link da Play List do YouTube */
    text-decoration: none;
    color: rgb(57, 0, 63);
    font-size: 1.3em;
    font-weight: 700;
    background-color: #0a5414;
    padding: 10px 40px;
    border: 2px solid #000000;
    border-radius: 25px;
}

#topo img{
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: min(90vw, 150px);
}

/* Smartphone Portrait >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

/* Cabeçalho */
header{
    height: 70px;
}

#check {
    display: none;
}

label {
    font-size: 3em;
    padding-right: 15px;
}

nav ul {
    list-style: none;
    background-color: #921e92;
    height: 100vh;
    position: fixed;
    top: 70px;
    right: -100%;
    transition: all 0.5s;
}

#check:checked ~ ul {
    right: 0;
}

nav ul li {
    padding: 20px;
    border-bottom: 1px solid #a9a9a9;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

/* Destaque */
main {
    height: 45vh;
    background: url(img/baner.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

main h1 {
    font-size: 2.0em;
    color: 	#ff00d0;
}

main h2 {
    font-size: 0.9em;
    color: 	#c300ff;
    margin: 20px 0px 50px 0px;
}

main h1, main h2 {
    text-shadow: #000 0.05em 0.05em 0.05em;
}

/* Smartphone Landscape >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 576px){ /* Tamanho de Tela de Celular */
    body{
        background-color: rgb(201, 85, 178);
    }
    /* Layout */
    .Container {
        max-width: 540px;
    }

    /* Destaque */
    main {
        height: 50vh;
    }

    main h1 {
        font-size: 2.4em;
    }

    main h2 {
        font-size: 0.9em;
    }

    #logo img {
        width: 100%;
        width: 300px;
        width: min(90vw, 150px);
    }
}

/* Tablet Portrait >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 768px){ /* Tamanho de Tela de Tablet */
    body{
        background-color: rgb(174, 13, 142);
    }
    /* Layout */
    .Container {
        max-width: 720px;
    }

    /* Destaque */
    main {
        height: 55vh;
    }

    main h1 {
        font-size: 2.5em;
    }

    main h2 {
        font-size: 1em;
    }

    #logo img {
        width: 100%;
        width: 300px;
        width: min(90vw, 200px);
    }

    #topo img{
        position: fixed;
        right: 10px;
        bottom: 10px;
        width: min(90vw, 200px);
    }

    /* Cabeçalho */
    header {
        height: 80px;
    }

    nav ul {
        top: 80px;
    }
}

/* Tablet Landscape >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 992px){ /* Tamanho de Tela de Tablet */
    body{
        background-color: rgb(192, 36, 184);
    }
    /* Layout */
    .Container {
        max-width: 960px;
    }

    /* Destaque */
    main {
        height: 55vh;
    }

    label {
        display: none;
    }

    nav ul {
        position: static;
        height: auto;
        background-color: transparent;
        margin-top: 30px;
    }

    nav ul li {
        float: left;
        border: 0;
    }

    nav ul li a {
        color: #343538;
    }

    nav ul li a:hover {
        color: #ff00ea;
    }
}

/* PC >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 1200px){ /* Tamanho de Tela de Tablet */
    body{
        background-color: #ffa5f6;
    }
    .Container {
        max-width: 1140px;
    }

    /* Destaque */
    main {
        height: 50vh;
    }

    main h1 {
        font-size: 2.8em;
    }

    main h2 {
        font-size: 1.3em;
    }

    /* Cabeçalho */
    header {
        height: 100px;
    }

    nav ul {
        margin-top: 50px;
    }
}